@import 'reset.css';
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Lato;
}

.sample {
    height: 5%;
}

.color-rect-main {
    width: 100%;
    height: 50px;
    display: inline-block;
    color: white;
    /*background-color: #123123;*/
    vertical-align: middle;
    position: relative;
}

.hexcolortext {
    font-size: 18px;
    width: 50%;
    height: 40px;
    top: 25%;
    left: 25%;
    position: absolute;
    text-align:center;
}

.backbutton {
    float: left;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 800;
}

.color-rect {
    width: 20%;
    display: inline-block;
    color: white;
    vertical-align: middle;
    background-color: #123123;
}


#color_scheme1 {
    width:45%;
    float:left;
    display:block;
    padding:40px 0px;
    font-size:20px;
}

#contrast1 {
    width:45%;
    float:right;
    display:block;
    padding:40px 0px;
    font-size:20px;
}

.similarColors1 {
    width:45%;
    float:right;
    display:block;
    padding:20px 0px 40px 0px;
    font-size:20px;
}

.color_scheme{
    width:100%;
    float:left;
    display:inline-block;
    /*border:1px solid black;*/
}

.contrast{
    width:100%;
    float:right;
    display: inline-block;
    /*border:1px solid black;*/
}