@import 'reset.css';

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Lato;
}

.sample {
    height: 5%;
}
.color-rect {
    width: 20%;
    display: inline-block;
    color: white;
    vertical-align: middle;
}

#zero {
    background-color: #123123;
}